@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<h3 class="text-danger">@Model.ErrorMessage</h3>

<p>@Html.ActionLink("Back to all backyards", "Index")</p>