@{
  ViewData["Title"] = "Backyards";
@* int pageSize = 6;
int currentPage = ViewBag.CurrentPage;
int startIndex = (currentPage - 1) * pageSize;
int endIndex = Math.Min(startIndex + pageSize, Model.Count);
List<Backyard> backyards = Model.GetRange(startIndex, endIndex - startIndex); *@
}

@using HiddenGarden.Models;



<h1>All Backyards</h1>
<p>@ViewBag.ErrorMessage</p>
<p>@Html.ActionLink("Add a new backyard", "Create")</p>
<div class="row">
    @foreach (Backyard backyard in Model)
    {
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">@backyard.Service</h5>
                    <p class="card-text">@backyard.Description</p>
                    <a href="/Backyards/Details/@(backyard.BackyardId)" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
    }
</div>


<div class="row">
    <div class="col">
        <ul class="pagination">
  @if(ViewBag.CurrentPage > 1){
    <a href='/Backyards?page=@(ViewBag.CurrentPage - 1)&pageSize=@ViewBag.PageSize'>
            <button class="btn btn-primary">Prev</button>
        </a>
  }
  @if(Model.Count == 6 && ViewBag.IsEnd != 1)
  {
    <a href='/Backyards?page=@(ViewBag.CurrentPage + 1)&pageSize=@ViewBag.PageSize'>
            <button class="btn btn-primary">Next</button>
        </a>
  }
  </ul>
  </div>
</div>

<br>
<hr>

<div class="">
  
  @using (Html.BeginForm("Search", "Backyards")) {
  <label class="mdl-textfield__label" for="sample3">Search Backyards By Description:</label>
  <br>
  <input class="mdl-textfield__input" type="text" name="name" id="sample3"><br><br>
  <input type="submit" class = "btn btn-primary" name = "name" value="Search"/>
  }

</div>