@{
  Layout = "_Layout";
}

<body style="background-color: #e1ece1;">
<br>
<br>
<h3>The Hidden Garden is a community-driven platform that connects individuals who have unused outdoor spaces with those who are looking for a unique and inspiring place to connect with nature and their community.</h3>
<br>
<br>

<p>Our mission is to create a more sustainable and inclusive community by encouraging the use of underutilized outdoor spaces. Whether you're looking for a spot to start a community garden, enjoy some fresh figs, or build a tree fort, our website provides an easy and convenient way to find hidden gems in your neighborhood.
<br>
<br>

Our platform allows users to post information about their outdoor spaces and the resources they have available, whether it be a fruiting tree, a sunny patch of land, or a collection of tools for building. Users can browse the listings and connect with one another to visit and utilize the space.
<br>
<br>

We believe that sharing outdoor spaces is not only an effective way to create a more sustainable community but also a way to build stronger connections among individuals. By working together and sharing resources, we can create a more resilient and supportive community.
<br>
<br>

<a href="/Account/Register" style="color: rgb(67, 118, 70);">Join</a> our Hidden Garden community today and discover the hidden treasures in your neighborhood!</p>

<div id="navlinks">
  <p>@Html.ActionLink("Explore Backyards", "Index", "Backyards")</p>
</div>
</body>