@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to The Hidden Garden</h1>
    <h3>Explore <a href="/Backyards" style="color: rgb(67, 118, 70);">backyards</a> around town</a>!</h3>
    <img src="/img/gardengate.jpg" alt="a garden gate">
</div>