@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to The Hidden Garden</h1>
    <h3>Explore <a href="/Backyards">backyards</a> around town</a>!</h3>
</div>
